extends layout
block content
    #menu
        #tab
            button Dot Map
            button Aggregate Map
        h1 SF Development Map
        form(action='/filter', id='user_input')
            label(for ='name', style='font-weight:bold') Search by Project Attributes:
            br
            label(for ='name') Project Status: 
            select(name='name', select class="selectpicker", data-live-search="true", id = "statusSelect")
                option(value='All') All
                option(value='CONSTRUCTION') Under Construction
                option(value='BP FILED') BP Filed
                option(value='BP REINSTATED') BP Reinstated
                option(value='BP ISSUED') BP Issued
                option(value='PL APPROVED') PL Approved
                option(value='PL FILED') PL Filed
            br
            label(for ='lower_bound') Net Units: From
            input(type='text', value = lower_bound, name='lower_bound', id='lower_bound', style='width: 50px;')
            label(for ='upper_bound') to
            input(type='text', value=upper_bound, name='upper_bound', id='upper_bound', style='width: 50px;')
            br
            label(for ='afflower_bound') Net Affordable Units: From
            input(type='text', value = afflower_bound, name='afflower_bound', id='afflower_bound', style='width: 50px;')
            label(for ='affupper_bound') to
            input(type='text', value=affupper_bound, name='affupper_bound', id='affupper_bound', style='width: 50px;')
            br
            label(for ='sflower_bound') Net Non-Residential SqFt: From
            input(type='text', value = sflower_bound, name='sflower_bound', id='sflower_bound', style='width: 50px;')
            label(for ='sfupper_bound') to
            input(type='text', value= sfupper_bound, name='sfupper_bound', id='sfupper_bound', style='width: 50px;')
            br
            label(for ='place', style='font-weight:bold') Search by Area or Address:
            br
            label(for ='place') Area: 
            select(name='place', select class="selectpicker", data-live-search="true", id = "placeSelect")
                option(value = '{"placename": "All", "type": "neighborhoods_41"}') All
                optgroup(label='Neighborhoods', title='neighborhoods_41')
                    option(value = '{"placename": "Bayview Hunters Point", "type": "neighborhoods_41"}') Bayview Hunters Point
                    option(value = '{"placename": "Bernal Heights", "type": "neighborhoods_41"}') Bernal Heights
                    option(value = '{"placename": "Castro/Upper Market", "type": "neighborhoods_41"}') Castro/Upper Market
                    option(value = '{"placename": "Chinatown", "type": "neighborhoods_41"}') Chinatown
                    option(value = '{"placename": "Excelsior", "type": "neighborhoods_41"}') Excelsior
                    option(value = '{"placename": "Financial District/South Beach", "type": "neighborhoods_41"}') Financial District/South Beach
                    option(value = '{"placename": "Glen Park", "type": "neighborhoods_41"}') Glen Park
            br
            label(for ='address') Address:
            input(type='text', value = address, name='address', id='address', style='width: 200px;')
            br
            label(for ='distance') Distance Around (In Miles):
            input(type='text', value= distance, name='distance', id='distance', style='width: 50px;')
            br
            input(type='submit', value='Update Map', name='on_map')
    
        form(action='/csv_export')
            input(type='hidden', name='lastname', value=sent_string, id = 'test_input')
            input(type='submit', value='Export Selection to CSV', name='on_map')
        button(id='pdf_download') Download PDF Report
        
    #map
    script.
        var myData = !{JSON.stringify(jsonData)};
        var layerData2 = !{JSON.stringify(layerData)};
        var lat = '#{lat}';
        var lon = '#{lon}';
        
        /*Fix project status after clicking on button*/
        var proj_status = '#{status_select}';
        var status_option=document.getElementById("statusSelect");
        var opt_select = null;
        for (i = 0; i < status_option.options.length; i++) {
            var option = status_option.options[i];
            if (option.value == proj_status) {
                opt_select = i;
            }
        }
        status_option.options[opt_select].selected = true;
        
        /*Fix place status after clicking on button*/
        var place_status = '#{place_select}';
        console.log(place_status);
        var place_option=document.getElementById("placeSelect");
        var optp_select = null;
        for (i = 0; i < place_option.options.length; i++) {
            var option = place_option.options[i];
            var value = JSON.parse(option.value).placename;
            if (value == place_status) {
                optp_select = i;
            }
        }
        place_option.options[optp_select].selected = true;
        
        
    script(src="/javascripts/example.js")
