extends layout
block content
    form(action='/filter', id='user_input')
        select(name='name', select class="selectpicker", data-live-search="true", id = "statusSelect")
            option(value='All') All
            option(value='CONSTRUCTION') Under Construction
            option(value='BP FILED') BP Filed
            option(value='BP REINSTATED') BP Reinstated
            option(value='BP ISSUED') BP Issued
            option(value='PL APPROVED') PL Approved
            option(value='PL FILED') PL Filed
        select(name='place', select class="selectpicker", data-live-search="true", id = "placeSelect")
            optgroup(label='Neighborhoods', title='neighborhoods_41')
                option(value = '{"placename": "All", "type": "neighborhoods_41"}') All
                option(value = '{"placename": "Bayview Hunters Point", "type": "neighborhoods_41"}') Bayview Hunters Point
                option(value = '{"placename": "Bernal Heights", "type": "neighborhoods_41"}') Bernal Heights
                option(value = '{"placename": "Castro/Upper Market", "type": "neighborhoods_41"}') Castro/Upper Market
                option(value = '{"placename": "Chinatown", "type": "neighborhoods_41"}') Chinatown
                option(value = '{"placename": "Excelsior", "type": "neighborhoods_41"}') Excelsior
                option(value = '{"placename": "Financial District/South Beach", "type": "neighborhoods_41"}') Financial District/South Beach
                option(value = '{"placename": "Glen Park", "type": "neighborhoods_41"}') Glen Park
        label(for ='lower_bound') Net Units: From
        input(type='text', value = lower_bound, name='lower_bound', id='lower_bound')
        label(for ='upper_bound') to
        input(type='text', value=upper_bound, name='upper_bound', id='upper_bound')
        input(type='submit', value='Submit', name='on_map')
    form(action='/csv_export')
        input(type='hidden', name='lastname', value=sent_string, id = 'test_input')
        input(type='submit', value='Export Selection to CSV', name='on_map')
    button(id='pdf_download') Download PDF Report
        
    #map
    script.
        var myData = !{JSON.stringify(jsonData)};
        var layerData2 = !{JSON.stringify(layerData)};
        
        /*Fix project status after clicking on button*/
        var proj_status = '#{status_select}';
        var status_option=document.getElementById("statusSelect");
        var opt_select = null;
        for (i = 0; i < status_option.options.length; i++) {
            var option = status_option.options[i];
            if (option.value == proj_status) {
                opt_select = i;
            }
        }
        status_option.options[opt_select].selected = true;
        
        /*Fix place status after clicking on button*/
        var place_status = '#{place_select}';
        console.log(place_status);
        var place_option=document.getElementById("placeSelect");
        var optp_select = null;
        for (i = 0; i < place_option.options.length; i++) {
            var option = place_option.options[i];
            var value = JSON.parse(option.value).placename;
            if (value == place_status) {
                optp_select = i;
            }
        }
        place_option.options[optp_select].selected = true;
        
        
    script(src="/javascripts/example.js")
