extends layout
block content
    #menu
        h1 SF Development Pipeline Map &nbsp; | &nbsp; 
        a(href='/faq', target = "_blank") Get More Information
        br
        br
        form(action='/filter', id='user_input', style='display: inline')
            label(for ='name', style='font-weight:bold') Step 1. Search by Project Attributes:
            br
            span(class = 'name') Project Status: &nbsp;
            select(name='name', select class="selectpicker", data-live-search="true", id = "statusSelect")
                option(value='All') All
                option(value='Under Construction') Under Construction
                option(value='Building Permit Approved') Building Permit Approved
                option(value='Planning Entitled') Planning Entitled
                option(value='Proposed') Proposed
            br
            span(class = 'name') Net Units: &nbsp;
            span(class='fromto')
                label(for ='lower_bound') From &nbsp;
                input(type='text', value = lower_bound, name='lower_bound', id='lower_bound', style='width: 50px;')
                label(for ='upper_bound') &nbsp; to &nbsp;
                input(type='text', value=upper_bound, name='upper_bound', id='upper_bound', style='width: 50px;')
            br
            label(for ='afflower_bound') Net Affordable Units: &nbsp;  
            span(class = 'fromto')
                label(for ='afflower_bound') From &nbsp;
                input(type='text', value = afflower_bound, name='afflower_bound', id='afflower_bound', style='width: 50px;')
                label(for ='affupper_bound') &nbsp; to &nbsp;
                input(type='text', value=affupper_bound, name='affupper_bound', id='affupper_bound', style='width: 50px;')
            br
            label(for ='sflower_bound') Net Non-Residential SqFt: &nbsp;
            span(class = 'fromto')
                label(for ='sflower_bound') From &nbsp;
                input(type='text', value = sflower_bound, name='sflower_bound', id='sflower_bound', style='width: 70px;')
                label(for ='sfupper_bound') &nbsp; to &nbsp;
                input(type='text', value= sfupper_bound, name='sfupper_bound', id='sfupper_bound', style='width: 70px;')
            br
            br
            label(for ='place', style='font-weight:bold') Step 2. Search by Area or Address:
            br
            label(for ='place', style='font-weight: bold') Choose an area: &nbsp;
            select(name='place', select class="selectpicker", data-live-search="true", id = "placeSelect")
                option(value = '{"placename": "None", "type": "neighborhoods_41"}') None
                optgroup(label='Neighborhoods', title='neighborhoods_41')
                    option(value = '{"placename": "Bayview Hunters Point", "type": "neighborhoods_41"}') Bayview Hunters Point
                    option(value = '{"placename": "Bernal Heights", "type": "neighborhoods_41"}') Bernal Heights
                    option(value = '{"placename": "Castro/Upper Market", "type": "neighborhoods_41"}') Castro/Upper Market
                    option(value = '{"placename": "Chinatown", "type": "neighborhoods_41"}') Chinatown
                    option(value = '{"placename": "Excelsior", "type": "neighborhoods_41"}') Excelsior
                    option(value = '{"placename": "Financial District/South Beach", "type": "neighborhoods_41"}') Financial District/South Beach
                    option(value = '{"placename": "Glen Park", "type": "neighborhoods_41"}') Glen Park
                    option(value = '{"placename": "Golden Gate Park", "type": "neighborhoods_41"}') Golden Gate Park
                    option(value = '{"placename": "Haight Ashbury", "type": "neighborhoods_41"}') Haight Ashbury
                    option(value = '{"placename": "Hayes Valley", "type": "neighborhoods_41"}') Hayes Valley
                    option(value = '{"placename": "Inner Richmond", "type": "neighborhoods_41"}') Inner Richmond
                    option(value = '{"placename": "Inner Sunset", "type": "neighborhoods_41"}') Inner Sunset
                    option(value = '{"placename": "Japantown", "type": "neighborhoods_41"}') Japantown
                    option(value = '{"placename": "Lakeshore", "type": "neighborhoods_41"}') Lakeshore
                    option(value = '{"placename": "Lincoln Park", "type": "neighborhoods_41"}') Lincoln Park
                    option(value = '{"placename": "Lone Mountain/USF", "type": "neighborhoods_41"}') Lone Mountain/USF
                    option(value = '{"placename": "Marina", "type": "neighborhoods_41"}') Marina
                    option(value = '{"placename": "McLaren Park", "type": "neighborhoods_41"}') McLaren Park
                    option(value = '{"placename": "Mission", "type": "neighborhoods_41"}') Mission
                    option(value = '{"placename": "Mission Bay", "type": "neighborhoods_41"}') Mission Bay
                    option(value = '{"placename": "Nob Hill", "type": "neighborhoods_41"}') Nob Hill
                    option(value = '{"placename": "Noe Valley", "type": "neighborhoods_41"}') Noe Valley
                    option(value = '{"placename": "North Beach", "type": "neighborhoods_41"}') North Beach
                    option(value = '{"placename": "Oceanview/Merced/Ingleside", "type": "neighborhoods_41"}') Oceanview/Merced/Ingleside
                    option(value = '{"placename": "Outer Mission", "type": "neighborhoods_41"}') Outer Mission
                    option(value = '{"placename": "Outer Richmond", "type": "neighborhoods_41"}') Outer Richmond
                    option(value = '{"placename": "Pacific Heights", "type": "neighborhoods_41"}') Pacific Heights
                    option(value = '{"placename": "Portola", "type": "neighborhoods_41"}') Portola
                    option(value = '{"placename": "Potrero Hill", "type": "neighborhoods_41"}') Potrero Hill
                    option(value = '{"placename": "Presidio", "type": "neighborhoods_41"}') Presidio
                    option(value = '{"placename": "Presidio Heights", "type": "neighborhoods_41"}') Presidio Heights
                    option(value = '{"placename": "Russian Hill", "type": "neighborhoods_41"}') Russian Hill
                    option(value = '{"placename": "Seacliff", "type": "neighborhoods_41"}') Seacliff
                    option(value = '{"placename": "South of Market", "type": "neighborhoods_41"}') South of Market
                    option(value = '{"placename": "Sunset/Parkside", "type": "neighborhoods_41"}') Sunset/Parkside
                    option(value = '{"placename": "Tenderloin", "type": "neighborhoods_41"}') Tenderloin
                    option(value = '{"placename": "Treasure Island", "type": "neighborhoods_41"}') Treasure Island
                    option(value = '{"placename": "Twin Peaks", "type": "neighborhoods_41"}') Twin Peaks
                    option(value = '{"placename": "Visitacion Valley", "type": "neighborhoods_41"}') Visitacion Valley
                    option(value = '{"placename": "Western Addition", "type": "neighborhoods_41"}') Western Addition
                    option(value = '{"placename": "West of Twin Peaks", "type": "neighborhoods_41"}') West of Twin Peaks
                optgroup(label='Priority Development Areas', title='pdas')
                    option(value = '{"placename": "19th Avenue", "type": "pdas"}') 19th Avenue
                    option(value = '{"placename": "Balboa Park", "type": "pdas"}') Balboa Park
                    option(value = '{"placename": "Bayview/Hunters Point Shipyard/Candlestick Point", "type": "pdas"}') Bayview/Hunters Point Shipyard/Candlestick Point
                    option(value = '{"placename": "Downtown-Van Ness-Geary", "type": "pdas"}') Downtown-Van Ness-Geary
                    option(value = '{"placename": "Eastern Neighborhoods", "type": "pdas"}') Eastern Neighborhoods
                    option(value = '{"placename": "Market & Octavia", "type": "pdas"}') Market & Octavia
                    option(value = '{"placename": "Mission Bay", "type": "pdas"}') Mission Bay
                    option(value = '{"placename": "Mission-San Jose Corridor", "type": "pdas"}') Mission-San Jose Corridor
                    option(value = '{"placename": "Port of San Francisco", "type": "pdas"}') Port of San Francisco
                    option(value = '{"placename": "Transit Center District", "type": "pdas"}') Transit Center District
                    option(value = '{"placename": "Treasure Island & Yerba Buena Island", "type": "pdas"}') Treasure Island & Yerba Buena Island
                optgroup(label='Area Plans', title='area_plans')
                    option(value = '{"placename": "A-1", "type": "planning_areas"}') A-1
                    option(value = '{"placename": "A-2", "type": "planning_areas"}') A-2
                    option(value = '{"placename": "Balboa Park", "type": "planning_areas"}') Balboa Park
                    option(value = '{"placename": "Base of Telegraph Hill Subarea", "type": "planning_areas"}') Base of Telegraph Hill Subarea
                    option(value = '{"placename": "Bayshore Boulevard", "type": "planning_areas"}') Bayshore Boulevard
                    option(value = '{"placename": "Bayview Hunters Point", "type": "planning_areas"}') Bayview Hunters Point
                    option(value = '{"placename": "BP: City College", "type": "planning_areas"}') BP: City College
                    option(value = '{"placename": "BP: Ocean Avenue Commercial District", "type": "planning_areas"}') BP: Ocean Avenue Commercial District
                    option(value = '{"placename": "BP: Reservoir", "type": "planning_areas"}') BP: Reservoir
                    option(value = '{"placename": "BP: Transit Station Area", "type": "planning_areas"}') BP: Transit Station Area
                    option(value = '{"placename": "Candlestick Point", "type": "planning_areas"}') Candlestick Point
                    option(value = '{"placename": "Central SoMa", "type": "planning_areas"}') Central SoMa
                    option(value = '{"placename": "Central Waterfront (EN)", "type": "planning_areas"}') BP: Central Waterfront (EN)
                    option(value = '{"placename": "Cesar Chavez East Caltrans EJ Grant", "type": "planning_areas"}') Cesar Chavez East Caltrans EJ Grant
                    option(value = '{"placename": "Chinatown", "type": "planning_areas"}') Chinatown
                    option(value = '{"placename": "Civic Center", "type": "planning_areas"}') Civic Center
                    option(value = '{"placename": "Civic Center Public Realm Plan", "type": "planning_areas"}') Civic Center Public Realm Plan
                    option(value = '{"placename": "Dogpatch Public Realm Plan", "type": "planning_areas"}') Dogpatch Public Realm Plan
                    option(value = '{"placename": "Downtown", "type": "planning_areas"}') Downtown
                    option(value = '{"placename": "Downtown Streetscape Plan", "type": "planning_areas"}') Downtown Streetscape Plan
                    option(value = '{"placename": "Eastern Neighborhoods (Complete)", "type": "planning_areas"}') Eastern Neighborhoods (Complete)
                    option(value = '{"placename": "Eastern Neighborhoods w/Valencia", "type": "planning_areas"}') Eastern Neighborhoods w/Valencia
                    option(value = '{"placename": "East SoMa (EN)", "type": "planning_areas"}') East SoMa (EN)
                    option(value = '{"placename": "Executive Park", "type": "planning_areas"}') Executive Park
                    option(value = '{"placename": "Ferry Building Subarea", "type": "planning_areas"}') Ferry Building Subarea
                    option(value = '{"placename": "Fisherman’s Wharf Public Realm Plan", "type": "planning_areas"}') Fisherman’s Wharf Public Realm Plan
                    option(value = '{"placename": "Geary Corridor", "type": "planning_areas"}') Geary Corridor
                    option(value = '{"placename": "Glen Park", "type": "planning_areas"}') Glen Park
                    option(value = '{"placename": "Glen Park (superseded)", "type": "planning_areas"}') Glen Park (superseded)
                    option(value = '{"placename": "Haight Ashbury Public Realm Plan", "type": "planning_areas"}') Haight Ashbury Public Realm Plan
                    option(value = '{"placename": "Hunters Point Shipyard", "type": "planning_areas"}') Hunters Point Shipyard
                    option(value = '{"placename": "Hunters View", "type": "planning_areas"}') Hunters View
                    option(value = '{"placename": "India Basin", "type": "planning_areas"}') India Basin
                    option(value = '{"placename": "India Basin Industrial Park", "type": "planning_areas"}') India Basin Industrial Park
                    option(value = '{"placename": "India Basin Shoreline/Area C", "type": "planning_areas"}') India Basin Shoreline/Area C
                    option(value = '{"placename": "Japantown", "type": "planning_areas"}') Japantown
                    option(value = '{"placename": "Lower Haight Public Realm Plan", "type": "planning_areas"}') Lower Haight Public Realm Plan
                    option(value = '{"placename": "Market and Octavia", "type": "planning_areas"}') Market and Octavia
                    option(value = '{"placename": "Market Octavia Living Alleys", "type": "planning_areas"}') Market Octavia Living Alleys
                    option(value = '{"placename": "Mid-Market", "type": "planning_areas"}') Mid-Market
                    option(value = '{"placename": "Mission Bay", "type": "planning_areas"}') Mission Bay
                    option(value = '{"placename": "Mission District Streetscape Plan", "type": "planning_areas"}') Mission District Streetscape Plan
                    option(value = '{"placename": "Mission (EN)", "type": "planning_areas"}') Mission (EN)
                    option(value = '{"placename": "Mission Public Life Plan", "type": "planning_areas"}') Mission Public Life Plan
                    option(value = '{"placename": "Northeast Embarcadero Study", "type": "planning_areas"}') Northeast Embarcadero Study
                    option(value = '{"placename": "Northeast Waterfront", "type": "planning_areas"}') Northeast Waterfront
                    option(value = '{"placename": "Ocean Avenue Corridor Design", "type": "planning_areas"}') Ocean Avenue Corridor Design
                    option(value = '{"placename": "Parkmerced", "type": "planning_areas"}') Parkmerced
                    option(value = '{"placename": "Pier 70", "type": "planning_areas"}') Pier 70
                    option(value = '{"placename": "Port", "type": "planning_areas"}') Port
                    option(value = '{"placename": "Presidio", "type": "planning_areas"}') Presidio
                    option(value = '{"placename": "Railyard", "type": "planning_areas"}') Railyard
                    option(value = '{"placename": "Rincon Hill", "type": "planning_areas"}') Rincon Hill
                    option(value = '{"placename": "Rincon Hill Streetscape Plan", "type": "planning_areas"}') Rincon Hill Streetscape Plan
                    option(value = '{"placename": "Schlage Lock", "type": "planning_areas"}') Schlage Lock
                    option(value = '{"placename": "Sea Wall Lot 337", "type": "planning_areas"}') Sea Wall Lot 337
                    option(value = '{"placename": "Showplace Square/Potrero Hill (EN)", "type": "planning_areas"}') Showplace Square/Potrero Hill (EN)
                    option(value = '{"placename": "South Beach Subarea", "type": "planning_areas"}') South Beach Subarea
                    option(value = '{"placename": "South of Market", "type": "planning_areas"}') South of Market
                    option(value = '{"placename": "The Market Street Hub Project", "type": "planning_areas"}') The Market Street Hub Project
                    option(value = '{"placename": "Transbay", "type": "planning_areas"}') Transbay
                    option(value = '{"placename": "Transbay Zone 1", "type": "planning_areas"}') Transbay Zone 1
                    option(value = '{"placename": "Transit Center District", "type": "planning_areas"}') Transit Center District
                    option(value = '{"placename": "Transit Center District Streetscape Plan", "type": "planning_areas"}') Transit Center District Streetscape Plan
                    option(value = '{"placename": "Treasure Island", "type": "planning_areas"}') Treasure Island
                    option(value = '{"placename": "Van Ness Corridor", "type": "planning_areas"}') Van Ness Corridor
                    option(value = '{"placename": "Visitacion Valley", "type": "planning_areas"}') Visitacion Valley
                    option(value = '{"placename": "Western Shoreline", "type": "planning_areas"}') Western Shoreline
                    option(value = '{"placename": "Western SoMa (EN)", "type": "planning_areas"}') Western SoMa (EN)
                    option(value = '{"placename": "Yerba Buena", "type": "planning_areas"}') Yerba Buena
                optgroup(label='Supervisor Districts', title='supervisor_districts')
                    option(value = '{"placename": "SUPERVISORIAL DISTRICT 1", "type": "supervisor_districts"}') Supervisor District 1
                    option(value = '{"placename": "SUPERVISORIAL DISTRICT 2", "type": "supervisor_districts"}') Supervisor District 2
                    option(value = '{"placename": "SUPERVISORIAL DISTRICT 3", "type": "supervisor_districts"}') Supervisor District 3
                    option(value = '{"placename": "SUPERVISORIAL DISTRICT 4", "type": "supervisor_districts"}') Supervisor District 4
                    option(value = '{"placename": "SUPERVISORIAL DISTRICT 5", "type": "supervisor_districts"}') Supervisor District 5
                    option(value = '{"placename": "SUPERVISORIAL DISTRICT 6", "type": "supervisor_districts"}') Supervisor District 6
                    option(value = '{"placename": "SUPERVISORIAL DISTRICT 7", "type": "supervisor_districts"}') Supervisor District 7
                    option(value = '{"placename": "SUPERVISORIAL DISTRICT 8", "type": "supervisor_districts"}') Supervisor District 8
                    option(value = '{"placename": "SUPERVISORIAL DISTRICT 9", "type": "supervisor_districts"}') Supervisor District 9
                    option(value = '{"placename": "SUPERVISORIAL DISTRICT 10", "type": "supervisor_districts"}') Supervisor District 10
                    option(value = '{"placename": "SUPERVISORIAL DISTRICT 11", "type": "supervisor_districts"}') Supervisor District 11
                optgroup(label='Current Planning Quadrants', title='current_planning')
                    option(value = '{"placename": "SE", "type": "current_planning_quad"}') Southeast
                    option(value = '{"placename": "SW", "type": "current_planning_quad"}') Southwest
                    option(value = '{"placename": "NE", "type": "current_planning_quad"}') Northeast
                    option(value = '{"placename": "NW", "type": "current_planning_quad"}') Northwest
                optgroup(label='Aggregate Transportation Analysis Zones', title='agg_taz')
                    option(value = '{"placename": "Bayshore", "type": "agg_taz"}') Bayshore
                    option(value = '{"placename": "Downtown", "type": "agg_taz"}') Downtown
                    option(value = '{"placename": "Hill Districts", "type": "agg_taz"}') Hill Districts
                    option(value = '{"placename": "Marina/N. Heights", "type": "agg_taz"}') Marina/N. Heights
                    option(value = '{"placename": "Mission/Potrero", "type": "agg_taz"}') Mission/Potrero
                    option(value = '{"placename": "N. Beach/Chinatown", "type": "agg_taz"}') N. Beach/Chinatown
                    option(value = '{"placename": "Noe/Glen/Bernal", "type": "agg_taz"}') Noe/Glen/Bernal
                    option(value = '{"placename": "Outer Mission", "type": "agg_taz"}') Outer Mission
                    option(value = '{"placename": "Richmond", "type": "agg_taz"}') Richmond
                    option(value = '{"placename": "SoMa", "type": "agg_taz"}') SoMa
                    option(value = '{"placename": "Sunset", "type": "agg_taz"}') Sunset
                    option(value = '{"placename": "Western Market", "type": "agg_taz"}') Western Market
                optgroup(label='Other', title='better_market_street')
                    option(value = '{"placename": "Better Market Street", "type": "better_market_street"}') Better Market Street Plan Area
            br
            label(style='font-weight: bold') or
            br
            label(style='font-weight: bold') Choose an Address and Distance:
            br
            label(for ='address') Address: &nbsp;
            input(type='text', value = address, name='address', id='address', style='width: 200px;')
            br
            label(for ='distance') Distance Around (In Miles): &nbsp;
            input(type='text', value= distance, name='distance', id='distance', style='width: 50px;')
            br
            input(type='submit', value='Update Map', name='on_map')
        span() &nbsp;
        form(action='/map', id='clear', style='display: inline')
            input(type='submit', value='Clear Selection', name='clear')
        br
        br
        span(style='font-weight:bold') Step 3. Export Selection:
        br
        form(action='/csv_export', style='display: inline-block')
            input(type='hidden', name='export_query', value=sent_string, id = 'test_input')
            input(type='submit', value='CSV', name='on_map')
        span() &nbsp;
        button(id='pdf_download', style='display: inline-block') PDF Report
        br
        br
        #summary 
            span(style='font-weight:bold') Summary
            #Total
            #Affordable
            #Retail
            #MIPS
            #CIE
            #PDR
            #MED
            #VISIT
        #Disclaimer
            span(style='font-weight:bold') Disclaimer: &nbsp;
            span() This map is up to date as of March 31, 2017 and is based on data available at the time of publication. See "Get More Information" link above for more info.
    #map
    script.
        var myData = !{JSON.stringify(jsonData)};
        var layerData2 = !{JSON.stringify(layerData)};
        var lat = '#{lat}';
        var lon = '#{lon}';
        var distance = '#{distance}';
        var address = '#{address}';
        var lower_bound = '#{lower_bound}';
        var upper_bound = '#{upper_bound}';
        var afflower_bound = '#{afflower_bound}';
        var affupper_bound = '#{affupper_bound}';
        var sflower_bound = '#{sflower_bound}';
        var sfupper_bound = '#{sfupper_bound}';
        
        /*Fix project status after clicking on button*/
        var proj_status = '#{status_select}';
        var status_option=document.getElementById("statusSelect");
        var opt_select = null;
        for (i = 0; i < status_option.options.length; i++) {
            var option = status_option.options[i];
            if (option.value == proj_status) {
                opt_select = i;
            }
        }
        status_option.options[opt_select].selected = true;
        
        /*Fix place status after clicking on button*/
        var place_status = "#{place_select}".replace(/&amp;/g, "&"); //decodeURIComponent not working for some reason so I resorted to this
        place_status = place_status.replace("''", "&#39;&#39;"); //include this for Fisherman's warf
        var place_option=document.getElementById("placeSelect");
        var optp_select = 0;
        for (i = 0; i < place_option.options.length; i++) {
            var option = place_option.options[i];
            var value = JSON.parse(option.value).placename;
            if (value == place_status) {
                optp_select = i;
            }
        }
        place_option.options[optp_select].selected = true;
        
        //document.getElementById("placeSelect").options[3].selected = true;
        function clearSelection() {
            //alert("hello");
            //document.getElementById("placeSelect").options[5].selected = true;
            //place_option.options[5].selected = true;
        }
        
        
    script(src="/javascripts/example.js")
